<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCSozZ6RysDhUoKmXAIptwaBt_a4R4vj6U</string>
	<key>GCM_SENDER_ID</key>
	<string>1062071345162</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>shawn.dealwis.Events</string>
	<key>PROJECT_ID</key>
	<string>events-7f243</string>
	<key>STORAGE_BUCKET</key>
	<string>events-7f243.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1062071345162:ios:b03e183e8e10da7108bff3</string>
</dict>
</plist>